html {

background-image:url('images/carBg.jpg');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;

}

body {


}

.header {

  background-color: black;
}